@import "./utils/variables";
@import "./utils/mixins";
@import "./components/buttons";
@import "./layout/header";
@import "./pages/index";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  font-family: 'Roboto', sans-serif;
}
h1 {            
  font-size: 160%;
  padding-left: 10%;  
  padding-right: 10%;          
}
h2 {
  font-size: 120%;
  font-weight: 500;
} 
h3 {
  font-size: 160%;
}





/*importer dans l'ordre suivant :
Utils :

    Variables.

    Fonctions.

    Mixins.

    Placeholders.

Feuilles de style de tiers (vendors) (si vous en avez).

Base.

Composants.

Layout.

Pages.

Thèmes.*/


@import "./utils/functions";

@import "./base/base";
@import "./base/typography";
@import "./components/buttons";

@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/index";
