@import "./utils/variables";
@import "./utils/mixins";
@import "./components/buttons";
@import "./layout/header";
@import "./pages/index";
@import "./layout/footer";

html, body {
  /*height: 100%;*/
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  font-family: 'Roboto', sans-serif;
}
h1 {            
  font-size: 160%;   
  @media (min-width: 992px) {
    padding-left: 3%;    
  }
}
h2 {
  font-size: 120%;
  font-weight: 500;
  @media (min-width: 992px) {
    padding-left: 3%;    
  }
} 
h3 {
  font-size: 160%;
}
h4 {
  font-size: 160%;
  font-family: 'Shrikhand', sans-serif;
  @media (min-width: 992px) {
    font-size: 200%;    
  }
}
h5 {
  width: 12%;
  font-size: 110%;
  font-weight: 300;
  border-bottom: 3px solid $color-tertiary;
  margin-bottom: 3%;
  margin-top: 10%;
  padding-bottom: 2%;
  @media (min-width: 992px) {
    margin-top: 3%;  
    padding-bottom: 5px;    
    width: 3%;  
    font-size: 130%;    
  }
}





/*importer dans l'ordre suivant :
Utils :

    Variables.

    Fonctions.

    Mixins.

    Placeholders.

Feuilles de style de tiers (vendors) (si vous en avez).

Base.

Composants.

Layout.

Pages.

Thèmes.*/


@import "./utils/functions";

@import "./base/base";
@import "./base/typography";
@import "./components/buttons";

@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/index";
