footer {
    background-color: $color-footer-bg;
    color: white;
    padding-left: 7%;
    padding-bottom: 10%;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    @media (min-width: 992px) {
        height: 120px;
        padding-left: 3%;                     
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-bottom: 5%;                        
    }
}
.footer__heading {
    font-family: 'Shrikhand', sans-serif;
    font-size: 130%;
    padding-top: 7%;
    padding-bottom: 5%;
    @media (min-width: 992px) {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 140%;                 
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-top: 2%;
        padding-bottom: 1%;
        font-size: 140%;                        
    }
}
.footer__menu {
    @media (min-width: 992px) {
        width: 95%;
        display: flex;
        align-items:baseline;
        justify-content: space-between;                       
    }     
}
.footer__menu .propose, .footer__menu .partner {
    display: flex;
    align-items: baseline;
    @media (min-width: 992px) {
        width: 20%;        
    }      
}
.footer__menu .mention {    
    padding-top: 1%;
    @media (min-width: 992px) {
        font-size: 100%;   
        padding-right:15%;  
        margin-top: 0;                           
    }
} 
.footer__menu .contact {    
    padding-top: 2%;
    @media (min-width: 992px) {
        padding-top: 1%;                                 
    }    
} 
.footer__menu p {
    margin: 1%;
}
.footer__menu a {
    text-decoration: none;
    color: white;
}
.footer__menu .fa-utensils {
    padding-right: 3%;
    @media (min-width: 992px) {
        font-size: 110%;                      
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-right: 1%;                      
    }
}
.footer__menu .fa-handshake-angle {
    font-size: 75%;
    padding-right: 3%;
    @media (min-width: 992px) {
        font-size: 110%;                      
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-right: 1%;                      
    }
}

