.header__form {    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-heading-bg-form;
    box-shadow: 0px 2px 3px $color-heading-shadow inset;

    .icon {
        font-size: 110%;
        color: $color-form-icon;
        
        @media (min-width: 992px) {
            padding-left: 3%;                
        }
        @media (min-width: 769px) and (max-width: 991px) {
            padding-left: 3%;
        } 
    }
    
    .input input {
        border: none;
        background-color: $color-heading-bg-form;
        text-align: center;
        font-size: 110%;
        
        @media (min-width: 992px) {
            font-size: 120%;                
        }
    }
}