.header {
    width: 100%;    
    margin-bottom: -15px;
    @media (min-width: 768px) {
        width: 100%;
        /*justify-content:flex-start;  */          
    }
    &__heading, &__heading-pages {
        height: 60px;
        font-family: 'Shrikhand', sans-serif;
        color: $color-heading;
        text-align: center;
        vertical-align: middle;
        font-size: 200%;
        padding-top: 3%;
        padding-bottom: 3%;        
                
        @media (min-width: 992px) {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            font-size: 230%;
            padding-left: 3%;                              
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            font-size: 200%;
            padding-left: 3%;                              
        }        
    }
    &__heading-pages {
        display: flex;
        align-items: center;   
        & .fa-arrow-left {
            width: 35px;
            font-size: 60%;
            color: black;
            /*margin-left: 25px;*/
            @media (min-width: 992px) {
                margin-left: 0;            
            }
        } 
        & a {
            /*margin-left: 5%;*/
            @media (min-width: 992px) {
                margin-left: 0;            
            }
        }   
        & p {
            margin-left: 20%;
            @media (min-width: 992px) {
                margin-left: 3%;            
            }
            @media (min-width: 768px) and (max-width: 991px) {
                margin-left: 30%;
            }
        } 
    }
    &__desc {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-color: $color-heading-bg-desc;
        padding-top: 7%;
        padding-bottom: 15%;
        @media (min-width: 768px) {
            text-align: center;    
            padding-top: 1%; 
            font-size: smaller;
            line-height: 20px;
            padding-bottom: 2%;            
        }
    }
    &__heading-img {
        width: 100%;
        z-index:1;
        & img {
            width: 100%;
            height:250px;      
            object-fit: cover;   
        }
    }    
}
    
    
    
    
    
/*.header img {
        width: 100%;
        height:250px;      
        object-fit: cover;   
    }
    .header a {
        margin-left: 5%;
        @media (min-width: 992px) {
            margin-left: 0;            
        }
    }
    .header p {
        margin-left: 20%;
        @media (min-width: 992px) {
            margin-left: 3%;            
        }
    }*/
    /*.header .fa-arrow-left {
        font-size: 65%;
        color: black;
        margin-left: 5%;
        @media (min-width: 992px) {
            margin-left: 0;            
        }
    }   */
 
