.container-header {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    z-index:1;
    &__heading, &__heading-pages {
        height: 60px;
        font-family: 'Shrikhand', sans-serif;
        color: $color-heading;
        text-align: center;
        vertical-align: middle;
        font-size: 180%;
        padding-top: 3%;
        padding-bottom: 3%;        
                
        @media (min-width: 992px) {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            font-size: 230%;
            padding-left: 3%;                              
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            font-size: 200%;
            padding-left: 3%;                              
        }        
    }
    &__form {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-heading-bg-form;
        box-shadow: 0px 2px 3px $color-heading-shadow inset;
        
        &__icon {
            font-size: 110%;
            padding-left: 10%;
            @media (min-width: 992px) {
                padding-left: 3%;                
            }
            @media (min-width: 769px) and (max-width: 991px) {
                padding-left: 3%;
            } 
        }
        &__input input {
            border: none;
            background-color: $color-heading-bg-form;
            padding-left: 5%;
            font-size: 100%;
            @media (min-width: 992px) {
                font-size: 120%;                
            }
        }
        @media (min-width: 768px) {
            width: 100%;
            justify-content:flex-start;            
        }
    }
    &__desc {
        text-align: center;
        background-color: $color-heading-bg-desc;
        padding-top: 7%;
        padding-bottom: 15%;
        @media (min-width: 768px) {
            text-align: center;    
            padding-top: 1%; 
            font-size: smaller;
            line-height: 20px;
            padding-bottom: 2%;            
        }
    }
    
    &__heading-pages {
        display: flex;
        align-items: center;        
    }
    &__heading-img {
        width: 100%;
        z-index:1;
    }
    img {
        width: 100%;
        height:250px;      
        object-fit: cover;   
        padding-bottom: 2%;    
        z-index:1;    
    }
    a {
        margin-left: 5%;
        @media (min-width: 992px) {
            margin-left: 0;            
        }
    }
    p {
        margin-left: 20%;
        @media (min-width: 992px) {
            margin-left: 3%;            
        }
    }
    .fa-arrow-left {
        font-size: 65%;
        color: black;
        margin-left: 5%;
        @media (min-width: 992px) {
            margin-left: 0;            
        }
    }
    
        
}