body {    
    font-family : 'Raleway', Arial, sans-serif; 
    margin:0;
    padding:0;
}
html {
    margin:0;
    padding:0;
}
@media all and (min-width: 992px) {
    .bloc_page {
        width: 95%;   
    }
    header {
        max-width:100%;
    }
    .conteneur_header {
        width:100%;
        display: flex;  
    }
    .logo {   
        width: 10%;
        padding-left: 3%;
        margin-top: 1%;
    }
    nav {
        width: 85%;            
    }
    .menu {
        display: flex;
        font-size: 110%;
        justify-content: flex-end;            
    }    
    ul {          
        padding-left: 0%;
        text-decoration: none;
        list-style-type : none; 
    }
    .menu li {
        margin-top : 2%;
        margin-left: 5%;   
    }
    .menu a {
        text-decoration: none;
        color: #000000;
        border-top: 3px solid #ffffff;
    }
    .menu a:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        padding-top: 35px;
    }
    .soustitre {
        margin-top: 2%;
    }
    .soustitre h1 {
        font-size : 130%;   
        padding-left: 3%;     
    }
    .soustitre h2 {
        line-height: 25%;
        font-size : 120%;
        font-weight: 300;
        padding-left: 3%;
    }
   .search_bar {   
        display: flex; 
        width: 420px; 
        height: 50px;
        margin-top: 2%;
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        margin-left: 3%;
    }                
    .icone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #F2F2F2;         
    }
    .icone i {
        font-size:130%
    }
    .ville {   
        display: flex;
        flex:1;      
    } 
    .ville input {
        width: 100%; 
        font-size: 110%;
        border: none;    
        padding-left: 5%;    
        font-family : 'Raleway', Arial, sans-serif;
    }        
    .recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        background-color: #0065FC;
        background-color: #0065FC;   
        padding-left: 3%;
        padding-right: 3%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .recherche i {
        display: none;            
    }
    .recherche input {   
        width:100px;   
        height: 50px;  
        font-size: 105%;
        font-family : 'Raleway', Arial, sans-serif;
        font-weight: bold;
        background: none;
        color: white;
        border: none;     
        justify-items: center;
    }
    .filtres {
        display: flex; 
        width: 100%;
        align-items: baseline;     
        padding-left: 3%;         
    }       
    .label {
        width: 8%;
        font-weight: bold;
        font-size: 110%;  
    }
    .menufiltres {
        width:87%;
        list-style-type : none;
        display: flex;
        flex-wrap: wrap;    
        justify-content: flex-start;        
    }
    .menufiltres ul {
        padding-left :0%;
        margin-right: auto;
        margin-left:auto;
    }
    .menufiltres li {            
        border: 3px solid #F2F2F2;
        border-radius: 40px;    
        margin-right: 3%;
        margin-top: 2%;                             
    }
    .menufiltres i {
        background-color: #DEEBFF;
        border: none;
        border-radius:50px;
        padding: 20px;
        color: #0065FC;           
    }
    .menufiltres a {
        font-size: 110%;   
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        padding: 20px;             
    }
    .menufiltres a:hover {
        color: #0065FC;          
    }
    .info {
        display:flex;
        width:100%;
        justify-content: flex-start;
        align-items: center;   
        padding-left: 3%;         
    }
    .info i {
        display: flex;
        width: 25px;
        height: 25px;     
    }
    .fa-info {
        color: #0065FC;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .info p {
        padding-left: 15px;
        font-size : 130%;
        font-weight: 300;        
    }    
    section {
        width:100%;
        padding-left: 3%;
    }
    .hebergement_populaire {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-top: 1%;
    }
    #hebergement {    
        width: 70%;                
        border-radius: 15px;    
        padding-top:1%;   
        background-color: #F2F2F2; 
    }
    #hebergement h3 {
        font-size : 140%;  
        padding-left: 3%;        
    }
    .conteneur_img {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin-top:2%;
    }
    .images_heb {
        width: 28%;      
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;    
        margin-right: 2%; 
        margin-bottom: 4%; 
        margin-left:3%;           
    }
    .images_heb a {
        text-decoration: none;        
    }
    .images_heb img {
        width: 96%;
        height:150px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;                
    }
    .images_heb p {
        color:#000000;
        font-size: 110%;
        padding-left: 3%;
        line-height: 100%;        
    }
    .images_heb .fa-star {
        color:#0065FC; 
        font-size : 90%;
    }
    .images_heb i {
        letter-spacing: -4px; 
    }
    #hebergement h4 {
        font-size : 120%;  
        padding-left: 3%;    
        padding-bottom: 3%;         
    }
    aside {
        width: 25%;
        border-radius: 15px;
        background-color: #F2F2F2;                 
    }
    .populaire {
        display: flex;
        width: 82%;
        align-items: baseline;
        justify-content: space-between;
        margin: auto;
    }
    .populaire h3 {
        font-size : 140%;  
        width: 75%;
        padding-top: 3%;            
    }
    .populaire .fa-star {
        color: #000000;
        font-size: 150%;          
    }
    .images_pop {        
        width: 82%;
        height: 25%;      
        background-color: #ffffff;
        border-radius: 15px;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 10%;
        box-shadow: 1px 1px 20px #b3b3b3;             
    }
    .images_pop a {
        display: flex;
        text-decoration: none;
        height:96%;
    }
    .images_pop img {
        display: flex;
        width: 40%;    
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-top: 2%;
        padding-left: 2%;                        
    }
    .label_pop {
        max-width:50%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .texte_pop {
        width: 100%;
        height:60%;
        color:#000000;        
    }
    .etoiles_pop {
        letter-spacing: -2px; 
        width: 100%;
        height: 25%;        
    }
    .etoiles_pop p {
        color:#0065FC; 
        padding-top: 10%;  
    }
    #activites_marseille {
        width: 95%;
        margin-top: 3%;
    }
    #activites_marseille h3 {
        font-size : 140%;          
    }
    .activites {
        display:flex;
        justify-content:space-between;
        width: 100%;
        height: 450px;
        font-size: 90%;
        font-weight: bold;
        padding-top: 15px;
    }
    .element1 {
        width: 23%;
        height: 450px;        
    }
    .vieuxport {
        width: 100%;
        height: 450px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
    }
    .vieuxport img {
        width: 100%;
        height: 400px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .vieuxport a {
        text-decoration: none;        
    }
    .vieuxport p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 3%;        
    }
    .element2 {
        width: 23%;
        height: 450px;
        position : relative;        
    }
    .fort {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;            
    }
    .fort a {
        text-decoration: none;    
    }
    .fort img {
        width: 100%;
        height: 160px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .fort p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 3%;
    }
    .iles {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        position: absolute;
        bottom: 0;
    }
    .iles a {
        text-decoration: none;
    }
    .iles img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .iles p {
        color:#000000;
        padding-left: 3%;
    }
    .element3 {
        width: 23%;
        height: 450px;
    }
    .parc {
        width: 100%;
        height: 450px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
    }
    .parc a {
        text-decoration: none;    
    }
    .parc img {
        width: 100%;
        height: 400px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .parc p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 3%;        
    }
    .element4 {
        width: 23%;
        height: 450px;
        position : relative;
    }
    .dame {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;            
    }
    .dame a {
        text-decoration: none;    
    }
    .dame img {
        width: 100%;
        height: 160px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .dame p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 3%;        
    }
    .longchamps {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        position: absolute;
        bottom: 0;   
    }
    .longchamps a {
        text-decoration: none;
    }
    .longchamps img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .longchamps p {
        color:#000000;
        padding-left: 3%;            
    }
    footer {
        width: 100%;
        background-color: #F2F2F2;
        display: flex;
        margin-top: 5%;  
        margin-bottom: 2%;          
    }
    footer h4 {
        font-size: 100%;
        margin-bottom: 25px;
    }
    footer p {
        font-size: 90%;
    }
    footer a {
        text-decoration: none;
        color: #000000;
    }
    .apropos {
        width: 30%;
        margin-left: 3%;
        margin-right: 2%;
    }
    .noshebergements {
        width: 30%;
        margin-right: 2%;
    }
    .assistance {
        width: 30%;        
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .bloc_page {
        width: 90%;
    }
    .conteneur_header {
        width:100%;
        display: flex;
    }
    .logo {   
        width: 25%;
        margin-left: 1%;
        margin-top: 1%;
        margin-right: 1%;
        padding-left: 3%;
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    nav {
        width: 90%;  
        padding-right: 2%;          
    }
    .menu {
        display: flex;                
        font-size: 100%;
        justify-content: flex-end;       
    }
    ul {   
        padding-left: 0%;
        text-decoration: none;
        list-style-type : none; 
    }
    .menu li {
        margin-top : 3%;
        margin-left: 5%;   
    }
    .menu a {
        text-decoration: none;
        color: #000000;
        border-top: 3px solid #ffffff;
    } 
    .menu a:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        padding-top: 30px;        
    }
    .soustitre {
        margin-top: 2%;
    }
    .soustitre h1 {
        font-size : 120%;    
        padding-left: 3%;
    }
    .soustitre h2 {
        line-height: 25%;
        font-size : 110%;
        font-weight: 1;
        padding-left: 3%;
    }
    .search_bar {
        display: flex; 
        width: 50%; 
        height: 40px;
        margin-top: 5%;
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        margin-left: 3%;
    }
    .icone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #F2F2F2;      
    }
    .icone i {
        font-size:130%
    }    
    .ville {
        display: flex;
        flex:1;      
    }    
    .ville input {
        width: 100%; 
        font-size: 90%;
        border: none;    
        padding-left: 5%;    
        font-family : 'Raleway', Arial, sans-serif;
    }
    .recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        background-color: #0065FC;   
        padding-left: 3%;
        padding-right: 3%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .recherche i{
        display: none;            
    }
    .recherche input{
        font-size: 100%;
        font-family : 'Raleway', Arial, sans-serif;
        font-weight: bold;
        background: none;
        color: white;
        border: none;     
        justify-items: center; 
    }
    .filtres{
        display: flex; 
        width: 100%;
        align-items: baseline;  
        padding-left: 3%;
    }            
    .label {
        width: 10%;
        align-items: center;
        font-weight: bold;
        font-size: 110%;  
        margin-top:auto;
        margin-bottom:auto;   
    }
    .menufiltres {
        width: 100%;
        list-style-type : none;
        display: flex;
        flex-wrap: wrap;    
        justify-content: flex-start;    
    }
    .menufiltres ul {
        padding-left :0%;
    }
    .menufiltres li {            
        border: 3px solid #F2F2F2;
        border-radius: 40px;    
        margin-right: 10px;
        margin-top: 2%;
        margin-left: 2%;
    }
    .menufiltres i {
        background-color: #DEEBFF;
        border: none;
        border-radius:50px;
        padding: 15px;
        color: #0065FC;           
    }
    .menufiltres a {
        font-size: 110%;   
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        padding:20px; 
    }
    .menufiltres a:hover {
        color: #0065FC;          
    }
    .info {
        display:flex;
        width:100%;
        justify-content: flex-start;
        align-items: center;   
        padding-left: 3%;         
    }
    .info i {
        display: flex;
        width: 25px;
        height: 25px; 
    }
    .fa-info {
        color: #0065FC;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .info p {
        padding-left: 15px;
        font-size : 120%;
        font-weight: 1;            
    }
    section {
            width:100%;
            padding-left: 3%;
        }
    .hebergement_populaire {
        display: flex;
        justify-content: space-between;
        width: 97%;
        margin-top: 1%;
    }
    #hebergement {
        width: 70%;
        background-color: #F2F2F2; 
        border-radius: 15px;    
        padding-top:1%;        
    }
    #hebergement h3 {
        font-size : 130%;  
        padding-left: 3%;        
    }
    .conteneur_img {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin-top:2%;
        margin-left: 3%;    
    }
    .images_heb {
        width: 30%;      
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;   
        margin-bottom: 10%;
        margin-right: 2%;              
    }
    .images_heb a {
        text-decoration: none;
    }
    .images_heb img {
        width: 96%;
        height:150px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-top: 2%;
        padding: 2%;                    
    }
    .images_heb p {
        color:#000000;
        font-size: 100%;
        line-height: 100%;
        margin-top: 1%;
        margin-left: 5%;
    }
    .images_heb .fa-star {
        color:#0065FC;  
        font-size : 90%;  
    }
    .images_heb i {
        letter-spacing: -4px;    
    }
    #hebergement h4 {
        margin-top: 7%; 
        font-size: 110%;
        padding-left: 3%;
    }
    aside {
        width: 25%;
        border-radius: 15px;
        background-color: #F2F2F2; 
        margin-left:auto;  
        margin-right:auto;
    }
    .populaire {
        display: flex;
        width: 82%;
        align-items: baseline;
        justify-content: space-between;
        margin: auto;        
    }
    .populaire h3 {
        font-size : 130%;  
        width: 75%;
        padding-top: 3%;
    }
    .populaire .fa-star {
        color: #000000;
        font-size: 130%;  
    }
    .images_pop {
        width: 82%;
        height: 25%;      
        background-color: #ffffff;
        border-radius: 15px;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 10%;
        box-shadow: 1px 1px 20px #b3b3b3; 
    }
    .images_pop a {
        display: flex;
        text-decoration: none;
        height:96%;
    }
    .images_pop img {
        display: flex;
        width: 40%;    
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-top: 2%;
        padding-left: 2%;
    }
    .label_pop {
        max-width:50%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .texte_pop {
        width: 100%;
        height:60%;
        color:#000000;
    }
    .etoiles_pop {
        letter-spacing: -2px; 
        width: 100%;
        height: 25%;
    }
    .etoiles_pop p {
        color:#0065FC; 
        padding-top: 15px;  
        font-size : 90%;
    }
    #activites_marseille {
        width: 95%;
        margin-top: 3%;
    }
    #activites_marseille h3{
        font-size : 130%;  
    }
    .activites {
        display:flex;
        justify-content: space-between;
        width: 100%;
        font-size: 90%;
        font-weight: bold;
    }
    .element1 {
        width: 20%;
    }
    .vieuxport {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;        
    }
    .vieuxport img {
        width: 100%;
        height: 400px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .vieuxport a {
        text-decoration: none;
    }
    .vieuxport p {
        color:#000000;    
        padding-bottom: 10%;
        padding-left: 10%;
    }
    .element2 {
        width: 20%;
        height: 450px;
        position : relative;
    }
    .fort {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;                
    }
    .fort a {
        text-decoration: none;
    }
    .fort img {
        width: 100%;
        height: 160px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .fort p {
        color:#000000;
        padding-bottom: 10%;
        padding-left: 7%;            
    }
    .iles {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        position: absolute;
        bottom: 0;
    }
    .iles a {
        text-decoration: none;
    }
    .iles img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;            
    }
    .iles p {
        color:#000000;
        padding-left: 10%;            
    }
    .element3 {
        width: 20%;
    }
    .parc {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
    }
    .parc a {
        text-decoration: none;
    }
    .parc img {
        width: 100%;
        height: 400px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .parc p {
        color:#000000;
        padding-left: 8%;  
    }
    .element4 {
        width: 20%;
        height: 450px;
        position : relative;
    }
    .dame {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
    }
    .dame a {
        text-decoration: none;
    }
    .dame img {
        width: 100%;
        height: 160px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .dame p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 3%;
    }
    .longchamps {
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        position: absolute;
        bottom: 0;   
    }
    .longchamps a {
        text-decoration: none;
    }
    .longchamps img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;        
    }
    .longchamps p {
        color:#000000;
        padding-left: 3%;        
    }
    footer {
        width: 100%;
        background-color: #F2F2F2;
        display: flex;
        margin-top: 5%;        
    }
    footer h4 {
        font-size: 100%;
        margin-bottom: 25px;
    }
    footer p {
        font-size: 80%;
    }
    footer a {
        text-decoration: none;
        color: #000000;
    }
    .apropos {
        width: 30%;
        margin-right: 5%;
        margin-left: 3%;
    }
    .noshebergements {
        width: 30%;
        margin-right: 5%;
    }
    .assistance {
        width: 30%;        
    }
}
@media screen and (max-width: 768px) {
    .bloc_page {
        max-width: 100%;
    }
    .conteneur_header {
            width:100%;
            text-align: center;     
            overflow: hidden;       
    }
    .logo {
            margin-top: 1%;   
            width: 96%;
            margin-left: auto;
            margin-right: auto;  
            padding-left: 15px;
    }
    .logo img {
            width : 30%;
            height : 30%;
    }
    nav {
            width: 100%;                    
    }
    .menu {
        display: flex;  
        width: 100%;                   
        margin-top : 5%;
        font-size: 100%;
        justify-content: center;                                                  
    }
    ul {   
        padding-left: 0%;
        text-decoration: none;
        list-style-type : none; 
    }    
    .menu li {
        width:50%;
        list-style-type : none; 
        font-size: 100%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 20px;                        
    }
    .menu a {
        text-decoration: none;
        color: #000000;
        width:100%;            
    }
    .menu li:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 20px;
    }
    .menu a:hover {
        color: #0065FC;
    }
    .soustitre {
        margin-top: 8%;
        padding-left: 5%;
        padding-right: 5%
    }
    .soustitre h1 {
        font-size : 20px;    
    }
    .soustitre h2 {
        line-height: 15%;
        font-size : 15px;
        font-weight: 300;
    }
    main {
        max-width: 100%;
    }
    .search_bar {    
        display: flex; 
        width: 90%; 
        height: 45px;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        justify-content: space-between;                
            
    }
    .icone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #F2F2F2;                 
    }
    .icone i {
        font-size:110%;                   
    }
    .ville {
        display: flex;
        flex:1;
    }        
    .ville input {
        width: 100%;
        border: none;    
        font-size:90%;
        font-family : 'Raleway', Arial, sans-serif;
        color:#000000;
        padding-left: 5%;   
        font-weight: bold;     
    }
    .recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        width: 13%;   
        border-radius: 10px;
    }
    .recherche input {
        display: none;
    }
    .recherche i {
        background: none;
        color: white;
        border: none;     
    }   
    .filtres {
        width: 94%;
        margin-top: 10%;  
    }        
    .label {
        width: 100%;
        font-weight: bold;
        font-size: 100%;    
    }
    .label p {
        margin-left: 5%;
    }
    .menufiltres {
        width: 100%;
        list-style-type : none;
        display: flex;
        flex-wrap: wrap;    
        margin-left: 5%;
    }
    .menufiltres ul {
        padding-left :0%;
        margin-right: auto;
        margin-left:auto;            
    }    
    .menufiltres li {
        border: 3px solid #F2F2F2;
        border-radius: 40px;    
        margin-bottom: 10px;
        margin-right: 10px;            
    }
    .menufiltres i {
        background-color: #DEEBFF;
        border: none;
        border-radius:50px;
        padding: 12px;
        color: #0065FC;           
    }
    .menufiltres a {
        font-size: 90%;   
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        padding: 15px; 
    }
    .menufiltres a:hover {
        color: #0065FC;          
    }
    .info {
        display:flex;
        width:100%;
        justify-content: flex-start;
    }
    .info i {
        display: flex;
        width: 20px;
        height: 20px;   
        margin-left: 5%;   
        margin-top: 10px;
    }
    .fa-info {
        color: #0065FC;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 80%;
    }
    .info p {
        width:80%;
        padding-left: 10px;
        font-size : 90%;
        font-weight: 300;            
    }
    section {
        width:100%;
    }
    .hebergement_populaire {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 1%;
    }
    aside {
        width: 100%;
        background-color: #F2F2F2; 
        margin-left:auto;  
        margin-right:auto;
    }
    .populaire {
        display: flex;
        width: 90%;
        align-items: baseline;
        justify-content: space-between;
        margin: auto;    
    }
    .populaire h3 {
        font-size : 130%;  
        font-weight: bold;
        width: 75%;
        padding-top: 3%;
    }
    .populaire .fa-star {
        color: #000000;
        font-size: 130%;   
    }
    .images_pop {        
        width: 90%;
        height: 150px;      
        background-color: #ffffff;
        border-radius: 15px;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 10%;
        box-shadow: 1px 1px 20px #b3b3b3; 
    }
    .images_pop a {
        display: flex;
        text-decoration: none;
        height:96%;
    }
    .images_pop img {
        display: flex;
        width: 40%;    
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-top: 2%;
        padding-left: 2%;   
    }
    .label_pop {
        max-width:50%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .texte_pop {
        width: 100%;
        height:60%;
        color:#000000;
    }
    .etoiles_pop {
        letter-spacing: -2px; 
        width: 100%;
        height: 25%;  
    }
    .etoiles_pop p {
        color:#0065FC; 
        font-size: 90%;
    }
    #hebergement {
        width: 100%;
        border-radius: 15px;    
        padding-top:3%;
    }
    #hebergement h3 {
        font-size : 130%;  
        font-weight: bold;  
        padding-left: 4%;        
    }
    .conteneur_img {
        display: flex;
        flex-direction: column;
        width:100%;
        margin-top:2%;
    }
    .images_heb {
        width: 90%;      
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;    
        margin: auto; 
        margin-bottom: 2%;
        margin-top: 1%;
    }
    .images_heb a  {
        text-decoration: none;
    }
    .images_heb img {    
        width: 96%;
        height:110px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .images_heb p {
        color:#000000;
        padding-left: 5%;
        line-height: 50%;      
    }
    .images_heb .fa-star {
        color:#0065FC; 
        font-size: 90%;  
    }
    .images_heb i {
        letter-spacing: -4px;  
    }
    #hebergement h4 {
        font-size : 110%;  
        padding-left: 3%; 
        padding-top: 3%;        
    }
    #activites_marseille {
        width: 100%;
        margin-top: 10%;
    }
    #activites_marseille h3 {
        font-size : 130%;  
        font-weight: bold;
        padding-left: 4%;    
    }
    .activites {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        font-size: 100%;
        font-weight: bold;
        margin-top: 8%;
        margin-bottom: 10%;
    }
    .element1 {
        width: 100%;
    }
    .vieuxport {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin: auto;
    }
    .vieuxport img {
        width: 100%;
        height: 150px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .vieuxport a {
        text-decoration: none;
    }
    .vieuxport p {
        color:#000000;    
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .element2 {
        width: 100%;
    }
    .fort {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin: auto;
    }
    .fort a {
        text-decoration: none;
    }
    .fort img {
        width: 100%;
        height: 140px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .fort p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .iles {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin:auto;
    }
    .iles a {
        text-decoration: none;
    }
    .iles img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .iles p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .element3 {
        width: 100%;
    }
    .parc {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin:auto;
    }
    .parc a {
        text-decoration: none;
    }
    .parc img {
        width: 100%;
        height: 140px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .parc p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 5%; 
    }
    .element4 {
        width: 100%;
    }
    .dame {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin:auto;
    }
    .dame a {
        text-decoration: none;    
    }
    .dame img {
        width: 100%;
        height: 140px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;            
    }
    .dame p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 5%;            
    }
    .longchamps {
        width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 20px #b3b3b3;
        margin:auto;
    }
    .longchamps a {
        text-decoration: none;
    }
    .longchamps img {
        width: 100%;
        height: 120px;      
        object-fit: cover;   
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;            
    }
    .longchamps p {
        color:#000000;
        padding-bottom: 5%;
        padding-left: 5%;            
    }
    footer {
        max-width: 100%;
        background-color: #F2F2F2;        
    }
    footer h4 {
        font-size: 110%;        
    }
    footer p {
        width: 94%;
        font-size: 100%;          
    }
    footer a {
        text-decoration: none;
        color: #000000;
    }
    .apropos {
        width: 90%;
        padding-top: 3%;  
        padding-left: 7%;          
    }
    .noshebergements {
        width: 90%;
        padding-top: 2%;
        padding-left: 7%;
    }
    .assistance {
        width: 90%;
        padding-top: 2%;
        padding-left: 7%;
        padding-bottom: 2%;
    }
}

