.explorer-btn, .commander-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
@media (min-width: 992px) {
  .explorer-btn, .commander-btn {
    width: 30%;
    margin-top: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    margin-left: 37%;
    margin-bottom: 2%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .explorer-btn, .commander-btn {
    width: 60%;
    margin-top: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    padding-bottom: 2%;
    margin-left: 30%;
  }
}
.explorer-btn .main-button, .commander-btn .main-button {
  width: 100%;
  padding: 4%;
  background: #9356DC;
  border-radius: 25px;
  font-size: 100%;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  box-shadow: 1px 1px 15px #bdbcbc;
  width: 60%;
  box-shadow: 2px 2px 15px #bdbcbc;
}
@media (min-width: 992px) {
  .explorer-btn .main-button, .commander-btn .main-button {
    font-size: 130%;
    width: 80%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .explorer-btn .main-button, .commander-btn .main-button {
    font-size: 130%;
  }
}
.explorer-btn .main-button:hover, .commander-btn .main-button:hover {
  background-color: hsl(267.3134328358deg, 100%, 70%);
  box-shadow: 2px 2px 15px #979595;
  cursor: pointer;
}

.header {
  width: 100%;
  margin-bottom: -15px;
}
@media (min-width: 768px) {
  .header {
    width: 100%;
  }
}
.header__heading, .header__heading-pages {
  height: 60px;
  font-family: "Shrikhand", sans-serif;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
  padding-top: 3%;
  padding-bottom: 3%;
}
@media (min-width: 992px) {
  .header__heading, .header__heading-pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 230%;
    padding-left: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__heading, .header__heading-pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 200%;
    padding-left: 3%;
  }
}
.header__heading-pages {
  display: flex;
  align-items: center;
}
.header__heading-pages .fa-arrow-left {
  width: 35px;
  font-size: 60%;
  color: black;
}
@media (min-width: 992px) {
  .header__heading-pages .fa-arrow-left {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .header__heading-pages a {
    margin-left: 0;
  }
}
.header__heading-pages p {
  margin-left: 20%;
}
@media (min-width: 992px) {
  .header__heading-pages p {
    margin-left: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__heading-pages p {
    margin-left: 30%;
  }
}
.header__desc {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 7%;
  padding-bottom: 15%;
}
@media (min-width: 768px) {
  .header__desc {
    text-align: center;
    padding-top: 1%;
    font-size: smaller;
    line-height: 20px;
    padding-bottom: 2%;
  }
}
.header__heading-img {
  width: 100%;
  z-index: 1;
}
.header__heading-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fonctionnement {
  width: 100%;
}
.fonctionnement__heading {
  padding-left: 5%;
  padding-top: 5%;
}
@media (min-width: 768px) {
  .fonctionnement__heading {
    padding-left: 3%;
    padding-top: 1%;
  }
}
.fonctionnement__steps {
  margin-top: 7%;
  margin-left: 5%;
  padding-bottom: 3%;
}
@media (min-width: 992px) {
  .fonctionnement__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__steps {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
  }
}
.fonctionnement__steps > .choose, .fonctionnement__steps > .compose, .fonctionnement__steps > .eat {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 95%;
  height: 60px;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 15px;
  font-size: 100%;
  font-weight: 700;
  box-shadow: 1px 1px 15px #bdbcbc;
  margin-bottom: 7%;
}
@media (min-width: 992px) {
  .fonctionnement__steps > .choose, .fonctionnement__steps > .compose, .fonctionnement__steps > .eat {
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
    font-size: 120%;
    margin-bottom: 1%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__steps > .choose, .fonctionnement__steps > .compose, .fonctionnement__steps > .eat {
    justify-content: start;
    align-items: center;
    width: 75%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 3%;
    font-size: 90%;
    margin-bottom: 3%;
  }
}
.fonctionnement__steps .number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
  min-width: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50%;
  font-size: 90%;
  background-color: #9356DC;
  color: #ffffff;
}
@media (min-width: 992px) {
  .fonctionnement__steps .number {
    position: relative;
    left: -15px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__steps .number {
    position: relative;
    left: -10px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 25px;
  }
}
.fonctionnement__steps i {
  font-size: 140%;
  margin-left: 13%;
}
@media (min-width: 992px) {
  .fonctionnement__steps i {
    padding-top: 1%;
    margin-left: 7%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__steps i {
    margin-left: 3%;
  }
}
.fonctionnement__steps p {
  margin-left: 7%;
}
@media (min-width: 992px) {
  .fonctionnement__steps p {
    margin-left: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__steps p {
    margin-left: 3%;
  }
}
.fonctionnement__steps .eat {
  background-color: hsl(267.3134328358deg, 60%, 90%);
}

.restaurants {
  width: 100%;
  margin-top: 8%;
  padding-bottom: 10%;
  background-color: #f2f2f2;
}
@media (min-width: 992px) {
  .restaurants {
    margin-top: 2%;
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .restaurants {
    margin-top: 2%;
  }
}
.restaurants__heading {
  padding-left: 5%;
  padding-top: 8%;
}
@media (min-width: 768px) {
  .restaurants__heading {
    padding-top: 1%;
    padding-left: 3%;
  }
}
.restaurants__cards {
  margin-top: 7%;
}
@media (min-width: 992px) {
  .restaurants__cards {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

footer {
  background-color: #413f3f;
  color: white;
  padding-left: 7%;
  padding-bottom: 10%;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 992px) {
  footer {
    height: 120px;
    padding-left: 3%;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding-bottom: 5%;
    margin-top: 0;
  }
}

.footer__heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 130%;
  padding-top: 7%;
  padding-bottom: 5%;
}
@media (min-width: 992px) {
  .footer__heading {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 140%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__heading {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 140%;
  }
}

@media (min-width: 992px) {
  .footer__menu {
    width: 95%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__menu .propose, .footer__menu .partner {
  display: flex;
  align-items: baseline;
}
@media (min-width: 992px) {
  .footer__menu .propose, .footer__menu .partner {
    width: 20%;
  }
}

.footer__menu .mention {
  padding-top: 1%;
}
@media (min-width: 992px) {
  .footer__menu .mention {
    font-size: 100%;
    padding-right: 15%;
    margin-top: 0;
  }
}

.footer__menu .contact {
  padding-top: 2%;
}
@media (min-width: 992px) {
  .footer__menu .contact {
    padding-top: 1%;
  }
}

.footer__menu p {
  margin: 1%;
}

.footer__menu a {
  text-decoration: none;
  color: white;
}

.footer__menu .fa-utensils {
  padding-right: 3%;
}
@media (min-width: 992px) {
  .footer__menu .fa-utensils {
    font-size: 110%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__menu .fa-utensils {
    padding-right: 1%;
  }
}

.footer__menu .fa-handshake-angle {
  font-size: 75%;
  padding-right: 3%;
}
@media (min-width: 992px) {
  .footer__menu .fa-handshake-angle {
    font-size: 110%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__menu .fa-handshake-angle {
    padding-right: 1%;
  }
}

.menu {
  z-index: 2;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 15px solid #ffffff;
}
.menu__heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
@media (min-width: 768px) {
  .menu__heading {
    justify-content: center;
  }
}
.menu__heading i {
  font-size: 150%;
}
@media (min-width: 768px) {
  .menu__heading i {
    padding-left: 2%;
    font-size: 190%;
  }
}
.menu__container {
  width: 100%;
  margin-left: 5%;
}
@media (min-width: 992px) {
  .menu__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}

.header__desc h1 {
  font-size: 150%;
}
@media (min-width: 992px) {
  .header__desc h1 {
    padding-left: 3%;
    font-size: 230%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .header__desc h1 {
    padding-left: 3%;
    font-size: 180%;
  }
}

.header__desc h2 {
  font-size: 110%;
  font-weight: 300;
}
@media (min-width: 992px) {
  .header__desc h2 {
    padding-left: 3%;
    font-size: 150%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .header__desc h2 {
    padding-left: 3%;
    font-size: 120%;
  }
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 170%;
  font-family: "Shrikhand", sans-serif;
}
@media (min-width: 992px) {
  h4 {
    font-size: 200%;
  }
}

h5 {
  width: 12%;
  font-size: 110%;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 3%;
  padding-bottom: 2%;
  margin-top: 8%;
}
@media (min-width: 992px) {
  h5 {
    margin-top: 2%;
    padding-bottom: 5px;
    width: 3%;
    font-size: 150%;
    margin-left: 45%;
    margin-right: auto;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  h5 {
    margin-top: 3%;
    padding-bottom: 5px;
    width: 5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

.header__form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e0e0;
  box-shadow: 0px 2px 3px #bdbcbc inset;
}
.header__form .icon {
  font-size: 110%;
  color: #646363;
}
@media (min-width: 992px) {
  .header__form .icon {
    padding-left: 3%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .header__form .icon {
    padding-left: 3%;
  }
}
.header__form .input input {
  border: none;
  background-color: #e2e0e0;
  text-align: center;
  font-size: 110%;
}
@media (min-width: 992px) {
  .header__form .input input {
    font-size: 120%;
  }
}

.restaurants .label .icon {
  margin-top: 2%;
  margin-left: 4%;
  width: 35px;
  height: 35px;
}
.restaurants .label .icon .fa-heart {
  font-size: 150%;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: #ffffff;
  padding-left: 3px;
  padding-top: 3px;
}
.restaurants .label .icon .fa-heart:active {
  animation: fa-heart 2s;
}
@keyframes fa-heart {
  0% {
    color: #ffffff;
  }
  100% {
    color: #FF79DA;
  }
}

.restaurants__cards > .main-card {
  width: 90%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 1px 1px 15px #bdbcbc;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}
@media (min-width: 992px) {
  .restaurants__cards > .main-card {
    width: 20%;
    margin-left: 3%;
  }
}

.main-card .images {
  position: relative;
}
.main-card .images .new {
  width: 90px;
  height: 30px;
  background: #99E2D0;
  color: hsl(165.2054794521deg, 60%, 30%);
  z-index: 1;
  position: absolute;
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
  right: 4%;
  top: 7%;
  padding-top: 5px;
}

.images img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 2%;
}

.main-card a {
  text-decoration: none;
  color: black;
}

.label {
  display: flex;
}

.label .nom {
  width: 80%;
  padding-bottom: 2%;
}

.label .nom p {
  color: #000000;
  font-size: 110%;
  padding-left: 4%;
  padding-bottom: 2%;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .label .nom p {
    line-height: 15px;
  }
}

.entrees .card-menu, .plats .card-menu, .desserts .card-menu {
  width: 90%;
  height: 70px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 15px #bdbcbc;
  cursor: pointer;
}
@media (min-width: 992px) {
  .entrees .card-menu, .plats .card-menu, .desserts .card-menu {
    margin-top: 2%;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .entrees .card-menu, .plats .card-menu, .desserts .card-menu {
    margin-top: 2%;
    width: 60%;
    height: 80px;
  }
}
.entrees .card-menu:active > .prix, .plats .card-menu:active > .prix, .desserts .card-menu:active > .prix {
  animation: prix ease 300ms;
  animation-fill-mode: forwards;
}
.entrees .card-menu:active > .coche, .plats .card-menu:active > .coche, .desserts .card-menu:active > .coche {
  animation: coche linear 300ms;
  animation-fill-mode: forwards;
}
.entrees .card-menu:active > .coche .fa-circle-check, .plats .card-menu:active > .coche .fa-circle-check, .desserts .card-menu:active > .coche .fa-circle-check {
  animation: check linear 300ms;
  animation-fill-mode: forwards;
}
.entrees .card-menu .nom, .plats .card-menu .nom, .desserts .card-menu .nom {
  width: 65%;
  padding-left: 5%;
  line-height: 25px;
}
@media (min-width: 992px) {
  .entrees .card-menu .nom, .plats .card-menu .nom, .desserts .card-menu .nom {
    width: 50%;
  }
}
.entrees .card-menu .nom strong, .plats .card-menu .nom strong, .desserts .card-menu .nom strong {
  font-size: 120%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .entrees .card-menu .nom strong, .plats .card-menu .nom strong, .desserts .card-menu .nom strong {
    font-size: 110%;
  }
}
.entrees .card-menu .nom p, .plats .card-menu .nom p, .desserts .card-menu .nom p {
  font-size: 85%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .entrees .card-menu .nom p, .plats .card-menu .nom p, .desserts .card-menu .nom p {
    font-size: 110%;
  }
}
.entrees .card-menu .prix, .plats .card-menu .prix, .desserts .card-menu .prix {
  width: 12%;
  padding-top: 8%;
  padding-left: 10%;
  font-size: 100%;
  font-weight: bold;
}
@media (min-width: 992px) {
  .entrees .card-menu .prix, .plats .card-menu .prix, .desserts .card-menu .prix {
    font-size: 110%;
    padding-top: 4%;
    padding-left: 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .entrees .card-menu .prix, .plats .card-menu .prix, .desserts .card-menu .prix {
    padding-top: 6%;
  }
}
.entrees .card-menu .coche, .plats .card-menu .coche, .desserts .card-menu .coche {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 70px;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
@media (min-width: 992px) {
  .entrees .card-menu .coche, .plats .card-menu .coche, .desserts .card-menu .coche {
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .entrees .card-menu .coche, .plats .card-menu .coche, .desserts .card-menu .coche {
    height: 80px;
  }
}
.entrees .card-menu .coche i, .plats .card-menu .coche i, .desserts .card-menu .coche i {
  min-width: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50%;
}
.entrees .card-menu .coche .fa-circle-check, .plats .card-menu .coche .fa-circle-check, .desserts .card-menu .coche .fa-circle-check {
  font-size: 140%;
  font-weight: bold;
  background-color: #99E2D0;
  color: #ffffff;
}
@keyframes prix {
  100% {
    margin-right: 10%;
  }
}
@keyframes coche {
  0% {
    opacity: 1;
    width: 1px;
  }
  100% {
    opacity: 1;
    width: 50px;
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.entrees {
  animation: courses ease 5s;
  animation-fill-mode: forwards;
}

.plats {
  opacity: 0;
  animation: courses ease 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.desserts {
  opacity: 0;
  animation: courses ease 5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes courses {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-loading-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  animation: 3s linear container-loading-spinner;
  animation-fill-mode: forwards;
}

@keyframes container-loading-spinner {
  0% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    visibility: collapse;
  }
}
.loading-spinner {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 100px;
  height: 100px;
  border: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  overflow: hidden;
  animation: 3s linear loading-spinner;
  animation-fill-mode: forwards;
}
@media (min-width: 992px) {
  .loading-spinner {
    top: 50%;
    left: 48%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .loading-spinner {
    top: 40%;
    left: 42%;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
