.fonctionnement {
    margin-top: 8%;
    &__heading {
        padding-left: 5%;
        padding-top: 5%;
        @media (min-width: 768px) {
            padding-left: 3%;    
            padding-top: 1%;      
        }
    }
    &__steps {
        margin-top: 7%;
        margin-left: 5%;
        padding-bottom: 3%;
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;    
            align-items: center;  
            margin-top: 2%;
            margin-left: 3%;   
            padding-bottom: 1%;            
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            justify-content: start;    
            align-items: center;  
            margin-top: 3%;
            margin-left: 3%;                    
        }
    }
    &__steps > .choose, &__steps > .compose, &__steps > .eat {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 95%;
        height: 60px;
        padding-top: 6%;
        padding-bottom: 6%;
        border-radius: 15px;
        font-size: 100%;
        font-weight: 700;
        box-shadow: 1px 1px 15px $color-heading-shadow;
        margin-bottom: 7%;        

        @media (min-width: 992px) {
            width: 25%;   
            padding-top: 1%;
            padding-bottom: 1%;
            margin-right: 5%;
            font-size: 120%;   
            margin-bottom: 1%;                            
        }
        @media (min-width: 768px) and (max-width: 991px) {
            justify-content: start;    
            align-items: center;
            width: 75%;   
            padding-top: 3%;
            padding-bottom: 3%;
            margin-right: 3%;
            font-size: 90%;   
            margin-bottom: 3%;                   
        }
    }
    &__steps .number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5px;
        min-width: 30px; 
        padding-top: 2%;
        padding-bottom: 2%;    
        border-radius: 50%;
        font-size: 90%;
        background-color: $color-primary;
        color: #ffffff;

        @media (min-width: 992px) {
            position: relative;
            left: -15px;
            padding-top: 3px;
            padding-bottom: 3px;                                     
        }
        @media (min-width: 768px) and (max-width: 991px) {
            position: relative;
            left: -10px;
            padding-top: 4px;
            padding-bottom: 4px;
            min-width: 25px;
        }
    }
    &__steps i {
        font-size: 140%;
        margin-left: 13%;
        color: #979696;
        @media (min-width: 992px) {
            padding-top: 1%;
            margin-left: 7%;                        
        }
        @media (min-width: 768px) and (max-width: 991px) {
            margin-left: 3%;                        
        }
    }
    &__steps p {
        margin-left: 7%;
        
        @media (min-width: 992px) {
            margin-left: 10%;                    
        }
        @media (min-width: 768px) and (max-width: 991px) {
            margin-left: 3%;                        
        }
    }            
    &__steps .eat {
        &:hover {
            background-color: hsl(hue($color-primary),60%,+90%);
            .fa-store {
                color: #9356DC;
            }
            cursor: pointer;
        }
    }
    &__steps .compose {
        &:hover {
            background-color: hsl(hue($color-primary),60%,+90%);
            .fa-list {
                color: #9356DC;
            }
            cursor: pointer;
        }
    }
    &__steps .choose {
        &:hover {
            background-color: hsl(hue($color-primary),60%,+90%);
            .fa-mobile-screen-button {
                color: #9356DC;
            }
            cursor: pointer;
        }
    }
}
.restaurants {
    background-color: $color-heading-bg-desc;
    @media (min-width: 992px) {
        margin-top: 2%;     
        padding-bottom: 2%;                   
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 2%;                        
    }
    &__heading {
        padding-left: 5%;
        padding-top: 8%;
        @media (min-width: 768px) {
            padding-top: 1%;  
            padding-left: 3%;                      
        }
    }
    &__cards {
        margin-top: 7%;
        @media (min-width: 992px) {
            margin-top: 2%;  
            display: flex;
            align-items: center;
            justify-content: start;                                 
        }
    }       
}
