$color-heading: #000000;
$color-heading-shadow: #b1b1b1;
$color-heading-bg-form: #e2e0e0;
$color-heading-bg-desc: #f2f2f2;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-primary--guide: hsl(hue($color-primary), 100%, 80%);

$color-images-new : hsl(hue($color-tertiary),60%,30%);

$color-footer-bg: #413f3f;




